.float-right.right-btn-order
  %button.btn.btn_custom.btn--medium.btn--filled.js-btn-order
    Ver ordenes
.grid-order{ style: "position: fixed;"}
  .order-wrapper
    .order-header
      %h4 Mis ordenes
      %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
    .order-content.order-content--fixed.d-flex.flex-wrap
      .order-counts
        - current_member.current_orders.each do |order|
          = link_to app_account_path(order) do
            .card-content.card-counts.mb-4
              .order-card-counts
                .description-user.d-flex.justify-content-between
                  %h4= order.client.name
                  -# %p.notification
                .details-table.mt-4
                  .stat.d-flex.justify-content-center.flex-column.align-items-center
                    %p Mesa
                    %p= order.table.id
                  .stat.d-flex.justify-content-center.flex-column.align-items-center
                    %p Tiempo
                    %p= time_ago_in_words(order.created_at)
                  .stat.d-flex.justify-content-center.flex-column.align-items-center
                    %p N° de orden
                    %p= order.id
                .list-product.d-flex.justify-content-between.align-items-baseline
                  .card-product-title
                    %p.m-0= order&.dishes&.count || 0
                  .card-product-detail.card-detail-order
                    .card-price
                      %span= number_to_currency(order.total) || 'BsF. 0,00'
                      -# %span.box-quantity= count[:count]
