.modal.fade.account-modal{ "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", id: "#{section.name.split(' ').join()}-#{table.split(' ').join('')}" }
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h2.m-0 Crear cuenta #{table.titleize}
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %i.icofont-close.icon_custom.icon--large
      .modal-body
        = simple_form_for @client, url: app_manage_client_path, method: :post, html: { class: "form-#{table.downcase}" } do |f|
          .form-group
            %label.label_custom Cédula
            %input.form-control.input_custom{ type:'number', name: 'client[identification]', onkeyup: "makeRequest('#{table.downcase}')", class: "identification-#{table.downcase}", min: 0 }
          .hidden.preloader
            .content-spinner
              .spinner-border{:role => "status"}
                %span.sr-only Loading...
          .hidden.fields
            .form-group
              %label.label_custom Nombres y apellidos
              %input.form-control.input_custom.name{ name: 'client[name]', disabled: 'true' }
            .form-group
              %label.label_custom Email
              %input.form-control.input_custom.email{ name: 'client[email]', disabled: 'true' }
            .form-group
              %label.label_custom Dirección
              %input.form-control.input_custom.address{ type: 'text', name: 'client[address]', disabled: 'true' }
            .form-group
              %label.label_custom Teléfono
              %input.form-control.input_custom.phone{ type: 'tel', name: 'client[phone]', disabled: 'true', min: 0 }
            .form-group
              %input{ type: 'hidden', name: 'table', value: table }
              %input{ type: 'hidden', name: 'section', value: section.name }
        .float-right.mt-2
          %button.btn.btn_custom.btn--medium.btn--filled.submit-btn{ type: 'submit', onclick: "submit('#{table.downcase}')", disabled: 'disabled' }
            SIGUIENTE

:scss
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance:textfield;
  }
  
:javascript
  var time = ''

  function makeRequest(table) {
    clearTimeout(time);
    time = setTimeout(function() {
      var identification = $(".identification-"+table).val()

      $.ajax({
        url: "/get_client",
        type: "POST",
        data: { identification: identification },
        dataType: "JSON",
        beforeSend: function() {
          $('.preloader').removeClass('hidden');
        },
        success: function(data) {
          handleData(data);
        },
        error: function() {
          alert('Error')
        }
      });
    }, 2000);
  }

  function handleData(data) {
    $('.submit-btn').removeAttr('disabled')
    data ? displayValues(data) : clearValues()
  }

  function displayValues(data) {
    $('.fields').find('.form-control').attr('disabled', 'disabled')
    $('.preloader').addClass('hidden');
    $('.fields').removeClass('hidden');
    $('.name').val(data.name)
    $('.email').val(data.email)
    $('.address').val(data.address)
    $('.phone').val(data.phone)
  }

  function clearValues() {
    $('.form-control').removeAttr('disabled')
    $('.preloader').addClass('hidden');
    $('.fields').removeClass('hidden');
    $('.name').val('')
    $('.email').val('')
    $('.address').val('')
    $('.phone').val('')
    alert('el usuario no ha sido registrado')
  }

  function submit(table) {
    $('.form-'+table).submit()
  }

  $('.account-modal').on('hidden.bs.modal', function () {
    $('.fields').find('.form-control').attr('disabled', 'disabled')
    $('.fields').addClass('hidden');
  })
