%aside
  %ul.tabs.d-flex.flex-column.align-items-center
    %li.d-lg-none.d-md-none
      %li
        = link_to root_path do
          = image_tag '/assets/app/z', class: 'isologo_white'
    - if current_member.is_a?('waiter')
      %li.tab-link{ class: ('current' if action_name.eql?('index')) }
        = link_to root_path do
          .icons
            %i.icofont-dining-table
      %li.tab-link{ class: ('current' if action_name.eql?('categories')) }
        = link_to app_categories_path do
          .icons
            %i.icofont-restaurant
    - if current_member.is_a?('chef')
      %li.tab-link{ class: ('current' if action_name.eql?('chef')) }
        = link_to app_chef_path do
          .icons
            %i.icofont-list
    - if current_member.is_a?('runner')
      %li.tab-link{ class: ('current' if action_name.eql?('runner')) }
        = link_to app_runner_path do
          .icons
            %i.icofont-listing-number
  .footer
    %ul
      %li.tab-link{  }
        = link_to app_destroy_session_path do
          .icons
            %i.icofont-power

.menu-movil.d-lg-none.d-md-none
  %i.icofont-navigation-menu.menu-toggle
