.grid-order
  - sections.each do |section|
    - section&.tables&.each_with_index do |table, index|
      = creaate_account_modal(section, table.id)
      .order-wrapper.tab-content{ id: "space_one-#{index}-#{section.name}", class: ('current' if params[:table].eql?(table.id)) }
        .order-header
          %h4= table.id.titleize
          %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
        .order-content.order-content--fixed.d-flex.flex-column
          - table.current_orders.each do |order|
            = link_to app_account_path(order) do
              .order-counts
                .card-content.card-counts.mb-4
                  .order-card-counts
                    .description-user.d-flex.justify-content-between
                      %h4= order.client.name.truncate(20)
                      %p= time_ago_in_words(order.created_at)
                    .content-info-account.d-flex.flex-column
                      .content-info.d-flex.justify-content-between
                        %p Productos
                        %span= order.dishes.count
                      .content-info.d-flex.justify-content-between
                        %p Total
                        %span= number_to_currency(order.total) || 'BsF. 0,00'


        .order-footer.sticky-footer
          - unless @period.nil?
            %button.btn.btn_custom.btn--medium.btn--filled{'data-target': "##{section.name.split(' ').join()}-#{table.id.split(' ').join('')}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
              %i.icofont-plus
              Agregar cuenta


.btn-float.d-lg-none.d-block
  %button.btn.btn_custom.btn--filled.btn-sidebar
  %i.icofont-plus
