!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    -# = preloader
    #preloader
      .spinner-border{:role => "status"}
        %span.sr-only Loading...
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left.workspace-chef
            .workspace_top.workspace_top-chef
              .workspace_top-container
                .workspace_title.d-lg-block.d-sm-block.d-none
                  %h1 Cuenta
                .workspace_avatar
                  .avatar-content.dropdown
                    %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                      .avatar
                        = image_tag '/assets/app/profile'
                      %strong=current_member.alias
            .workspace_center.workspace-center-chef.workspace-center-account
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Cuenta
              .container-fluid.p-0
                #tab-4
                  .grid-wrapper
                    .content-account.d-flex
                      .data-account
                        .avatar-client
                          = image_tag '/assets/app/profile'
                        .name-client
                          %h2= @account.client.name
                        .description-client
                          %h2 Información de contacto
                          .data-client
                            %p Email
                            %span= @account.client.email
                          .data-client
                            %p Teléfono
                            %span= @account.client.phone
                          .data-client
                            %p Dirección
                            %span= @account.client.address

                      .listing
                        .grid-order.grid-order-account
                          .order-wrapper.order-wrapper-account
                            .order-header
                              %h4 Pedidos
                              .float-right.right-btn-order.d-flex.justify-content-end
                                - unless @account.cancelled?
                                  - if @account.waiter_id.eql?(current_member.id.to_s)
                                    - if @account.have_active_orders
                                      - unless @account.have_incompleted_orders?
                                        %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.d-none.d-sm-block{'data-target': "#facturar", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false,style: 'margin-right: 5px' }
                                          Enviar a Facturar
                                        %button.btn.btn_custom.btn--white.js-btn-order.d-sm-none{ style: 'margin-right: 5px'}
                                          %i.icofont-list
                                        -# = link_to app_billing_account_path(@account, locale: nil) do

                                      = link_to app_account_create_order_path(@account, locale: nil) do
                                        %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.d-none.d-sm-block{ style: 'margin-right: 5px'}
                                          Crear Nuevo Pedido
                                        %button.btn.btn_custom.btn--white.js-btn-order.d-sm-none{ style: 'margin-right: 5px'}
                                          %i.icofont-plus

                                    - unless @account.orders.blank?
                                      = confirmation_modal(@account, nil, @account.id, :account)
                                      %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.d-none.d-sm-block{ style: 'height: 32px;', 'data-target': "#confirmation-account-#{@account.id}-#{@account.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                        Cancelar
                                      %button.btn.btn_custom.btn--white.js-btn-order.d-sm-none{ style: 'height: 32px;', 'data-target': "#confirmation-account-#{@account.id}-#{@account.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                        %i.icofont-close

                            .order-content.order-content--fixed.d-flex.flex-column
                              .d-flex.flex-column
                                - @account.orders.order(id: :desc).each_with_index do |order, index|
                                  .title-new-order.d-none.d-sm-flex
                                    %h4{ style: 'color: #fff' } Orden #{index + 1} (#{number_to_currency(order.total) || 'Bsf. 0,00'})
                                    .d-flex
                                      - unless @account.cancelled?
                                        - if @account.waiter_id.eql?(current_member.id.to_s)
                                          - if !order.in_kitchen?
                                            = link_to app_categories_path(order, locale: nil) do
                                              %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.mr-2.d-none.d-sm-block
                                                Añadir Platos
                                              %button.btn.btn_custom.btn--white.js-btn-order.mr-2.d-sm-none
                                                %i.icofont-plus

                                          - if !order.dishes.blank? && !order.in_kitchen?
                                            = link_to app_send_to_kitchen_path(order, locale: nil), method: :post do
                                              %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.mr-2.d-none.d-sm-block
                                                Enviar A Cocina
                                              %button.btn.btn_custom.btn--white.js-btn-order.mr-2.d-sm-none
                                                %i.icofont-paper-plane

                                  .second.d-sm-none
                                    .float-left
                                      %h4{ style: 'color: #fff' } Orden #{index + 1} (#{number_to_currency(order.total) || 'Bsf. 0,00'})
                                    .float-right
                                      .d-flex
                                        - if !order.in_kitchen?
                                          = link_to app_categories_path(order, locale: nil) do
                                            %button.btn.btn_custom.btn--white.js-btn-order.mr-2.d-sm-none
                                              %i.icofont-plus

                                        - if !order.dishes.blank? && !order.in_kitchen?
                                          = link_to app_send_to_kitchen_path(order, locale: nil), method: :post do
                                            %button.btn.btn_custom.btn--white.js-btn-order.mr-2.d-sm-none
                                              %i.icofont-paper-plane
                                  - unless order.cancelled?
                                    - if order.in_kitchen?
                                      .title-new-order.mt-2.d-none.d-sm-flex
                                        = confirmation_modal(order, nil, order.id, :order)
                                        %button.btn.btn_custom.btn--medium.btn--white.d-none.d-sm-block{ style: 'height: 32px;margin-top: -20px;', 'data-target': "#confirmation-order-#{order.id}-#{order.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                          Cancelar Orden
                                        %button.btn.btn_custom.btn--white.d-sm-none{ style: 'height: 40px;margin-top: -32px;width: 40px;', 'data-target': "#confirmation-order-#{order.id}-#{order.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                          %i.icofont-close

                                  .second.mt-2.d-sm-none.pt-4.mt-3
                                    .float-right
                                      - if order.in_kitchen?
                                        = confirmation_modal(order, nil, order.id, :order)
                                        %button.btn.btn_custom.btn--white.d-sm-none{ style: 'height: 35px;margin-top: -32px;width: 40px;', 'data-target': "#confirmation-order-#{order.id}-#{order.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                          %i.icofont-close

                                  - order.dishes.each_with_index do |dish, index|
                                    = confirmation_modal(order, dish, index, :dish)
                                    .card-wrapper.card-account{ class: ('disabled' if @account.cancelled? || dish.cancelled?) }
                                      .card-content.card-product-account
                                        .card-product-image.account-product-image
                                          .product-image.product-image-order
                                            %img{ src: dish.dish.picture }
                                        .card-product-description.pl-4.account-product-description
                                          .card-product-title
                                            %h4.m-0= dish.dish.name
                                          .card-product-detail.card-detail-order
                                            .card-price
                                              %span $ #{dish.price} X
                                              %span.box-quantity= dish.quantity
                                            - if order.in_kitchen?
                                              .card-product-delete{'data-target': "#confirmation-#{dish.id}-#{index}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                                %i.icofont-ui-delete
                                            - else
                                              = link_to app_remove_dish_path(order, dish, locale: nil), method: :delete, data: { confirm: '¿Estás seguro?' } do
                                                .card-product-delete
                                                  %i.icofont-ui-delete

                              .order-footer.order-footer-product.order-footer-account
                                %h4
                                  Total + iva (12%):
                                  = number_to_currency(@account.total) || 'Bsf. 0,00'
    .modal.fade{ "aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", id: "facturar" }
      .modal-dialog{role: "document"}
        .modal-content
          .modal-header
            %h2.m-0 ¿ Está seguro que desea facturar ? Ésta acción no se puede deshacer
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
              %i.icofont-close.icon_custom.icon--large
          .modal-body
            .float-right.mt-2
              = link_to app_billing_account_path(@account, locale: nil) do
                %button.btn.btn_custom.btn--medium.btn--white.js-btn-order{style: 'margin-right: 5px' }
                  Confirmar
              %button.btn.btn_custom.btn--medium.btn--white.js-btn-order{style: 'margin-right: 5px', "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
                Cancelar
:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })

  $('.dropdown-toggle').dropdown()
  $('.modal').on('shown.bs.modal', function () {
    $('body').addClass('overflow')
    $('.close').click(function(){
      $('body').removeClass('overflow')
      $('.modal').removeClass('in')
    })
  });

  // var idleTime = 0;
  // $(document).ready(function () {
  //   var idleInterval = setInterval(timerIncrement, 700); // 1 minute
  //
  //   $(this).mousemove(function (e) {
  //     idleTime = 0;
  //   });
  //
  //   $(this).keypress(function (e) {
  //     idleTime = 0;
  //   });
  // });
  //
  // function timerIncrement() {
  //   idleTime = idleTime + 1;
  //   if (idleTime > 15) {
  //     window.location.reload();
  //   }
  // }
