!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    -# = preloader
    #preloader
      .spinner-border{:role => "status"}
        %span.sr-only Loading...
    .container-custom
    .workspace-chef
      = sidebar
      .workspace
        .d-flex
          .workspace-left.workspace-chef
            .workspace_top.workspace_top-chef
              .workspace_top-container
                .workspace_title.d-lg-block.d-sm-block.d-none
                  %h1 Cuenta
                .workspace_avatar
                  .avatar-content.dropdown
                    %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                      .avatar
                        = image_tag '/assets/app/profile'
                      %strong=current_member.alias
            .workspace_center.workspace-center-chef
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Cuenta
              .container-fluid.p-0
                #tab-4
                  .grid-wrapper.grid-wrapper-chef
                    .content-account.d-flex
                      .data-account
                        .avatar-client
                          = image_tag '/assets/app/profile'
                        .name-client
                          %h2= @order.client.name
                        .description-client
                          %h2 Información de contacto
                          .data-client
                            %p Email
                            %span= @order.client.email
                          .data-client
                            %p Teléfono
                            %span= @order.client.phone
                          .data-client
                            %p Dirección
                            %span= @order.client.address

                      .listing

                        .grid-order.grid-order-account
                          .order-wrapper.order-wrapper-account
                            .order-header
                              %h4 Pedidos
                              .float-right.right-btn-order.d-flex.justify-content-end
                                - unless @order.cancelled?
                                  - if @order.in_kitchen?
                                    = confirmation_modal(@order, nil, @order.id, :order)


                                    .btn.btn_custom.btn--medium.btn--white.js-btn-order.mr-2{'data-target': "#confirmation-order-#{@order.id}-#{@order.id}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                      Cancelar Orden

                                    %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.mr-2
                                      Cerrar Cuenta
                                  - else
                                    - unless @order.dishes.blank?
                                      = link_to app_send_to_kitchen_path(@order, locale: nil), method: :post do
                                        %button.btn.btn_custom.btn--medium.btn--white.js-btn-order.mr-2
                                          Enviar A Cocina
                                = link_to app_categories_path(@order, locale: nil) do
                                  %button.btn.btn_custom.btn--medium.btn--white.js-btn-order
                                    Añadir Platos

                              %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
                            .order-content.order-content--fixed.d-flex.flex-column
                              .d-flex.flex-column
                                - @order.dishes.order(id: :asc).each_with_index do |dish, index|
                                  = confirmation_modal(@order, dish, index, :dish)
                                  .card-wrapper.card-account{ class: ('disabled' if @order.cancelled? || dish.cancelled?) }
                                    .card-content.card-product-account
                                      .card-product-image.account-product-image
                                        .product-image.product-image-order
                                          %img{ src: dish.dish.picture }
                                      .card-product-description.pl-4.account-product-description
                                        .card-product-title
                                          %h4.m-0= dish.dish.name
                                        .card-product-detail.card-detail-order
                                          .card-price
                                            %span $ #{dish.price} X
                                            %span.box-quantity= dish.quantity
                                          - if @order.in_kitchen?
                                            .card-product-delete{'data-target': "#confirmation-#{dish.id}-#{index}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
                                              %i.icofont-ui-delete
                                          - else
                                            = link_to app_remove_dish_path(@order, dish, locale: nil), method: :delete, data: { confirm: '¿Estás seguro?' } do
                                              .card-product-delete
                                                %i.icofont-ui-delete

                              .order-footer.order-footer-product.order-footer-account
                                %span
                                  Total:
                                  = number_to_currency(@order.total)

:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })

  $('.dropdown-toggle').dropdown()
  $('.modal').on('shown.bs.modal', function () {
    $('body').addClass('overflow')
    $('.close').click(function(){
      $('body').removeClass('overflow')
      $('.modal').removeClass('in')
    })
  });
