!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    -# = preloader
    #preloader
      .spinner-border{:role => "status"}
        %span.sr-only Loading...
    .container-custom
      = sidebar
      .workspace
        = @host
        .d-flex
          .workspace-left{ class: ('full-width' unless @order.present?) }
            = top_bar('Categorías')
            .workspace_center.workspace_center-scroll
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Categorías
              .container-fluid.p-0
                #tab-2
                  - if @order.present?
                    .back
                      = link_to app_account_path(@order, locale: nil) do
                        %i.icofont-arrow-left
                        %span Volver
                  %ul.sub-tabs#categories

                  #category-1.category-content.current
                    .grid-wrapper.flex-wrap
                      - @categories&.each_with_index do |category|
                        = link_to app_category_dishes_path(category.id.strip, @order, locale: nil) do
                          .card-category
                            %img{ src: category.picture }
                            .mask
                              .card-category-content
                                .category-title
                                  %h4= category.name
                                .card-quantity
                                  %span= category.dishes.size

          = orders(@order)

:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })
