!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left.workspace-chef
            .workspace_top.workspace_top-chef
              .workspace_top-container
                .workspace_title.d-lg-block.d-sm-block.d-none
                  %h1 Cocina
                .workspace_avatar
                  .avatar-content.dropdown
                    %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                      .avatar
                        = image_tag '/assets/app/profile'
                      %strong=current_member.alias

            .workspace_center.workspace-center-chef
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Cocina
              .container-fluid.p-0
                #tab-4
                  .grid-wrapper.grid-wrapper-chef
                    - @orders.each do |order|
                      .card-content.card-counts.mb-4.card-chef
                        .order-card-counts.list-content
                          .description-user.d-flex.justify-content-between.list-header
                            %h4= order.client.name
                            %p= order.table.id
                          .list-cards
                            - order.dishes.each_with_index do |dish, index|
                              .list-card
                                = html_switch(order, dish, index)

                                .description-user.d-flex.justify-content-between.name-dishes
                                  %h4= dish.dish.name
                                .list
                                  %dl
                                    %dt Cantidad
                                    %dd= dish.quantity
                                    .div.observations
                                      %p Observaciones:
                                      - dish.observation.split(';').each do |observation|
                                        .tags
                                          %span.tag{ class: (dish.completed? ? 'listo' : 'pending') }= observation
                          .list-bottom
:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })

  $('.dropdown-toggle').dropdown()
  $('.modal').on('shown.bs.modal', function () {
    $('body').addClass('overflow')
    $('.close').click(function(){
      $('body').removeClass('overflow')
      $('.modal').removeClass('in')
    })
  });
