!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left{ class: ('full-width' unless @order.present?) }
            = top_bar('Platos')
            .workspace_center
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Platos
              .container-fluid.p-0
                #tab-3
                  .back
                    = link_to app_categories_path(@order) do
                      %i.icofont-arrow-left
                      %span Volver

                  .d-flex
                    .grid-wrapper.d-flex.flex-wrap
                      - @dishes.each_with_index do |dish, index|
                        = add_item_modal(dish, index, @order)
                        = dish(dish, index)

          = orders(@order)
:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })
