!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left
            = top_bar('Platos')

            .workspace_center
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Platos
              .container-fluid.p-0
                #tab-3
                  .back
                    = link_to app_categories_path(@order) do
                      %i.icofont-arrow-left
                      %span Volver
                  .d-flex
                    .grid-wrapper.d-flex.flex-wrap
                      - @dishes.each_with_index do |dish, index|
                        -# = dish(dish)
                        = add_item_modal(dish, index, @order)
                        .card-wrapper.card-wrapper-products
                          .card-content.card-product
                            .card-product-image
                              .product-image
                                %img{ src: dish.picture }
                            .card-product-description.pl-4
                              .card-product-title
                                %h4.m-0= dish.name
                              .card-product-detail
                                .card-price
                                  %span $ #{dish.price}
                            .card-product-btn
                              %a{ 'data-target': ".add_product-#{index}", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false } Agregar

          .workspace-right.sidebar
            .grid-order{ style: "position: fixed;"}
              .order-wrapper
                .order-header
                  %h4 Pedidos #{@order&.table&.id}
                  %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
                .order-content.order-content--fixed.d-flex.flex-wrap

                  - @order.dishes.each do |dish|
                    .card-wrapper
                      .card-content.card-counts
                        .card-product-image
                          .product-image.product-image-order
                            %img{ src: dish.dish.picture }
                        .card-product-description.pl-4
                          .card-product-title
                            %h4.m-0= dish.dish.name
                          .card-product-detail.card-detail-order
                            .card-price
                              %span $ #{dish.price} X
                              %span.box-quantity= dish.quantity
                            .card-product-delete
                              %i.icofont-ui-delete
                .order-footer.order-footer-product
                  %span Total:
                  %span= number_to_currency(@order.total)
    .btn-float.d-lg-none.d-block
      %button.btn.btn_custom.btn--filled.btn-sidebar
        %i.icofont-plus


:javascript
  $('.btn-sidebar').click(function(){
    $('.sidebar').toggleClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })
 