!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    -# = preloader
    #preloader
      .spinner-border{:role => "status"}
        %span.sr-only Loading...
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left
            = top_bar('Mesas')
            .workspace_center
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Mesas
              .container-fluid.p-0
                #tab-1.tab-content.current
                  %ul.sub-tabs#sub-tabs
                    - @sections&.each_with_index do |section, index|
                      - if params[:section]
                        %li.tab-link{ 'data-tab': "sub-tab-#{index}-#{section.name}", class: ( 'current' if params[:section].eql?(section.name))  }= section.name.capitalize
                      - else
                        %li.tab-link{ 'data-tab': "sub-tab-#{index}-#{section.name}", class: ( 'current' if index.zero?) }= section.name.capitalize

                  - @sections&.each_with_index do |section, index|
                    - if params[:section]
                      .tab-content-sub{ id: "sub-tab-#{index}-#{section.name}", class: ('current' if params[:section].eql?(section.name)) }
                        .d-flex
                          .grid-wrapper
                            - section&.tables&.each_with_index do |table, index|
                              = table(index, section)
                    - else
                      .tab-content-sub{ id: "sub-tab-#{index}-#{section.name}", class: ('current' if index.zero?) }
                        .d-flex
                          .grid-wrapper
                            - section&.tables&.each_with_index do |table, index|
                              = table(index, section)

          .workspace-right.sidebar
            -# = all_orders
            = table_orders(@sections)
    -# .btn-float.d-lg-none.d-block
    -#   %button.btn.btn_custom.btn--filled.btn-sidebar
    -#     %i.icofont-plus

:javascript

  $('.js-btn-order').click(function(){
    $('.order-wrapper').removeClass('current')
    $('.js-grid-order').addClass('current');
  })
  $('.js-card-wrapper').click(function(){
    $('.js-card-wrapper').removeClass('current_active');
    $(this).toggleClass('current_active');
    $('.js-grid-order').removeClass('current');
  })

  $('.btn-sidebar').click(function(){
    $('.sidebar').addClass('active-sidebar');
  })

  $('.menu-toggle').click(function(){
    $('aside').toggleClass('active-menu');
  })
  $('.close-order').click(function(){
     $('.sidebar').removeClass('active-sidebar');
  })

  $('.dropdown-toggle').dropdown()
  $('.modal').on('shown.bs.modal', function () {
    $('body').addClass('overflow')
    $('.close').click(function(){
      $('body').removeClass('overflow')
      $('.modal').removeClass('in')
    })
  });
