!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      %aside
        %ul.tabs
          %li
            = image_tag '/assets/app/z', class: 'isologo_white'
          %li.has-menu.tab-link.current{"data-tab" => "tab-1"}
            .icons
              %i.icofont-dining-table
          // %ul.sub-menu.tabs
          //   %li.tab-link.current{"data-tab" => "tab-1"}
          //     .icons.sub-menu-icons.active
          //       %i.icofont-dining-table
          //   %li.tab-link{"data-tab" => "tab-2"}
          //     .icons.sub-menu-icons
          //       %i.icofont-dining-table
          //   %li.tab-link{"data-tab" => "tab-3"}
          //     .icons.sub-menu-icons
          //       %i.icofont-dining-table
          %li.has-menu.tab-link{"data-tab" => "tab-2"}
            .icons
              %i.icofont-restaurant
      .workspace
        .workspace_top
          .workspace_top-container
            .workspace_title
              %h1 Mesas
            .workspace_search
              .form-group.mb-0
                %input.form-control.input_custom
            .workspace_avatar
              .avatar-content.dropdown
                %a#out.dropdown-toggle.d-flex.align-items-center{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                  .avatar
                    = image_tag 'https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg'
                  %strong Pedro G
                .dropdown-menu{"aria-labelledby" => "out"}
                  %a.dropdown-item{:href => "#"} Cerrar Sesion
        .workspace_center
          .container-fluid.p-0
            #tab-1.tab-content.current
              %ul.sub-tabs#sub-tabs
                %li.tab-link.current{"data-tab" => "sub-tab-1"} Interior
                %li.tab-link{"data-tab" => "sub-tab-2"} Barra
                %li.tab-link{"data-tab" => "sub-tab-3"} Terraza
              #sub-tab-1.tab-content-sub.current
                .d-flex
                  .grid-wrapper
                    - 12.times do |index|
                      .card-wrapper{"data-tab" => "space_one-#{index}"}
                        .card-content
                          .card-check
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 12.times do |index|
                      .order-content.tab-content{ id: "space_one-#{index}"}
                        .order-header
                          %h4 Mis ordenes #{index+ 1} 
                          %i.icofont-close.close-order

              #sub-tab-2.tab-content-sub
                .d-flex
                  .grid-wrapper
                    - 9.times do |index|
                      .card-wrapper{"data-tab" => "space_two-#{index}"}
                        .card-content
                          .card-check
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 9.times do |index|
                      .order-content.tab-content{ id: "space_two-#{index}"}
                        .order-header
                          %h4 Mis ordenes #{index+ 1} 
                          %i.icofont-close.close-order
              #sub-tab-3.tab-content-sub
                .d-flex
                  .grid-wrapper
                    - 9.times do |index|
                      .card-wrapper{"data-tab" => "space_three-#{index}"}
                        .card-content
                          .card-check
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 9.times do |index|
                      .order-content.tab-content{ id: "space_three-#{index}"}
                        .order-header
                          %h4 Mis ordenes #{index+ 1} 
                          %i.icofont-close.close-order
            #tab-2.tab-content

:javascript
  $('.dropdown-toggle').dropdown()
  $(document).ready(function(){
	
    $('ul.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })

    /** spaces **/
    $('ul#sub-tabs li').click(function(){
      var sub_tab_id = $(this).attr('data-tab');

      $('ul#sub-tabs li').removeClass('current');
      $('.tab-content-sub').removeClass('current');

      $(this).addClass('current');
      $("#"+sub_tab_id).addClass('current');
    })


    /* Tables*/
    $('.card-wrapper').click(function(){
      var index = $(this).attr('data-tab');
      
      $(this).addClass('current');
      $('.order-content').removeClass('current')
      $("#"+index).addClass('current');
      
    })

    /** close order**/
    $('.close-order').click(function(){
      $('.order-content').removeClass('current')
    })
  })