!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      %aside
        %ul.tabs
          %li
            = image_tag '/assets/app/z', class: 'isologo_white'
          %li.has-menu.tab-link.current{ 'data-tab' => 'tab-1' }
            .icons
              %i.icofont-dining-table
          %li.has-menu.tab-link{ 'data-tab' => 'tab-2' }
            .icons
              %i.icofont-restaurant
      .workspace
        .workspace_top
          .workspace_top-container
            .workspace_title
              %h1 Mesas
            -# .workspace_search
            -#   .form-group.mb-0
            -#     %input.form-control.input_custom
            .workspace_avatar
              .avatar-content.dropdown
                %a#out.dropdown-toggle.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                  .avatar
                    = image_tag 'https://tinyfac.es/data/avatars/26CFEFB3-21C8-49FC-8C19-8E6A62B6D2E0-200w.jpeg'
                  %strong Pedro G
                .dropdown-menu{"aria-labelledby" => "out"}
                  %a.dropdown-item{:href => "#"} Cerrar Sesion
        .workspace_center
          .container-fluid.p-0
            #tab-1.tab-content.current
              %ul.sub-tabs#sub-tabs
                %li.tab-link.current{ 'data-tab' => 'sub-tab-1' } Interior
                %li.tab-link{ 'data-tab' => 'sub-tab-2' } Barra
                %li.tab-link{ 'data-tab' => 'sub-tab-3' } Terraza
              #sub-tab-1.tab-content-sub.current
                .d-flex
                  .grid-wrapper
                    - 12.times do |index|
                      .card-wrapper{ "data-tab" => "space_one-#{index}", class: ('disabled' if index.even?)  }
                        .card-content.card-table
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 12.times do |index|
                      .order-wrapper.tab-content{ id: "space_one-#{index}"}
                        .order-header
                          %h4 Mesa número #{index+ 1} 
                          %i.icofont-close.close-order
                        .order-content.d-flex
                          - counts =[{name: 'Gladibeth Franco',products: '3', count: '30'}, {name: 'Anaritza Lopez',products: '1',count: '10'}]
                          .order-counts
                            -counts.each_with_index do |count|
                              .card-content.card-counts
                                .order-card-counts
                                  .description-user.d-flex.justify-content-between
                                    %h4= count[:name]
                                    %p 10 min
                                  .list
                                    %dl
                                      %dt Productos
                                      %dd #{count[:products]}
                                      %dt Cuenta total
                                      %dd $#{count[:count]}
                          -# .card-button
                          -#   %button.btn.btn_custom.btn--medium.btn--filled.btn-text-upper
                          -#     crear cuenta


              #sub-tab-2.tab-content-sub
                .d-flex
                  .grid-wrapper
                    - 9.times do |index|
                      .card-wrapper{ "data-tab" => "space_two-#{index}"}
                        .card-content.card-table
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 9.times do |index|
                      .order-wrapper.tab-content{ id: "space_two-#{index}"}
                        .order-header
                          %h4 Mis ordenes #{index+ 1} 
                          %i.icofont-close.close-order

              #sub-tab-3.tab-content-sub
                .d-flex
                  .grid-wrapper
                    - 9.times do |index|
                      .card-wrapper{ "data-tab" => "space_three-#{index}"}
                        .card-content.card-table
                          %h2= index + 1
                          .card-icons
                            %i.icofont-dining-table
  
                  .grid-order
                    - 9.times do |index|
                      .order-wrapper.tab-content{ id: "space_three-#{index}"}
                        .order-header
                          %h4 Mis ordenes #{index+ 1} 
                          %i.icofont-close.close-order
            #tab-2.tab-content

:javascript
  $('.dropdown-toggle').dropdown()
  $(document).ready(function(){
	
    $('ul.tabs li').click(function(){
      var tab_id = $(this).attr('data-tab');

      $('ul.tabs li').removeClass('current');
      $('.tab-content').removeClass('current');

      $(this).addClass('current');
      $("#"+tab_id).addClass('current');
    })

    /** spaces **/
    $('ul#sub-tabs li').click(function(){
      var sub_tab_id = $(this).attr('data-tab');

      $('ul#sub-tabs li').removeClass('current');
      $('.tab-content-sub').removeClass('current');

      $(this).addClass('current');
      $("#"+sub_tab_id).addClass('current');
    })


    /* Tables*/
    $('.card-wrapper').not('.disabled').click(function(){
      var index = $(this).attr('data-tab');
      
      $(this).addClass('current');
      $('.order-wrapper').removeClass('current')
      $("#"+index).addClass('current');
      
    })

    /** close order**/
    $('.close-order').click(function(){
      $('.order-wrapper').removeClass('current')
    })
  })