!!!
%html
  %header
    = render 'app/layouts/head'
  %body
    .container-custom
      = sidebar
      .workspace
        .d-flex
          .workspace-left.workspace-left-runner
            .workspace_top.workspace_top-runner
              .workspace_top-container
                .workspace_title.d-lg-block.d-sm-block.d-none
                  %h1 Comandas
                .workspace_avatar.d-lg-none
                  .avatar-content.dropdown
                    %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                      .avatar
                        = image_tag '/assets/app/profile'
                      %strong=current_member.alias
                    // .dropdown-menu{"aria-labelledby" => "out"}
                    //   = link_to app_destroy_session_path, class: 'dropdown-item' do
                    //     Cerrar Sesion

            .workspace_center.workspace_center-runner
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Comandas
              .container-fluid.p-0
                #tab-5.tab-content.current
                  %h2.status-runner.pending Pendientes
                  .grid-wrapper.grid-wrapper-chef.mt-3.grid-wrapper-runner
                    - counts =[{name: 'Gladibeth Franco',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Pedro Guerra',products: '3', count: '30', product: "Cerveza", price: '30'}, {name: 'Paola Vargas',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Anyelo Petit',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Patricia Álvarez',products: '3', count: '30', product: "Cerveza", price: '30'}]
                    -counts.each_with_index do |count|
                      .card-content.card-counts.mb-4.card-chef
                        .order-card-counts.list-content
                          .description-user.d-flex.justify-content-between.list-header
                            .data
                              %h4= count[:name]
                              %p Mesa 10
                            .time
                              %p 10 min
                          - counts =[{name: 'Pizza Margarita',products: '3', count: '30'}, {name: 'Hamburguesas',products: '1',count: '10'},{name: 'Hamburguesas',products: '1',count: '10'}, {name: 'Cafe',products: '1',count: '10'}]
                          .list-cards
                            -counts.each_with_index do |count|
                              .list-card
                                .description-user.d-flex.justify-content-between.name-dishes
                                  %h4= count[:name]
                                  -# %p 10 min
                                .list
                                  %dl
                                    %dt Cantidad de platos
                                    %dd #{count[:products]}
                                    .div.observations
                                      %p Observaciones:
                                      .tags
                                        %span.tag.pending Queso
                                        %span.tag.pending Vegetales
                                        %span.tag.pending Amor
                          .list-bottom

          .workspace-right.sidebar.workspace-right-runner
            .workspace_top.workspace_top-runner
              .workspace_top-container
                .workspace_title.d-lg-block.d-sm-block.d-none
                  %h1.d-lg-none Runner
                .workspace_avatar
                  .avatar-content.dropdown
                    %a#out.d-flex.align-items-center{ "aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button" }
                      .avatar
                        = image_tag '/assets/app/profile'
                      %strong=current_member.alias
                    // .dropdown-menu{"aria-labelledby" => "out"}
                    //   = link_to app_destroy_session_path, class: 'dropdown-item' do
                    //     Cerrar Sesion

            .workspace_center.workspace_center-runner
              .workspace_title.d-lg-none.d-sm-none.d-xs-block.mb-4
                %h1 Comandas
              .container-fluid.p-0
                #tab-5.tab-content.current
                  %h2.status-runner.listo Listos
                  .grid-wrapper.grid-wrapper-chef.mt-3.grid-wrapper-runner
                    - counts =[{name: 'Gladibeth Franco',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Pedro Guerra',products: '3', count: '30', product: "Cerveza", price: '30'}, {name: 'Paola Vargas',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Anyelo Petit',products: '3', count: '30', product: "Cerveza", price: '30'},{name: 'Patricia Álvarez',products: '3', count: '30', product: "Cerveza", price: '30'}]
                  
                    -counts.each_with_index do |count|
                      .card-content.card-counts.mb-4.card-chef
                        .order-card-counts.list-content
                          .description-user.d-flex.justify-content-between.list-header
                            .data
                              %h4= count[:name]
                              %p Mesa 10
                            .time
                              %p 10 min
                          - counts =[{name: 'Pizza Margarita',products: '3', count: '30'}, {name: 'Hamburguesas',products: '1',count: '10'},{name: 'Hamburguesas',products: '1',count: '10'}, {name: 'Cafe',products: '1',count: '10'}]
                          .list-cards
                            -counts.each_with_index do |count|
                              .list-card
                                .description-user.d-flex.justify-content-between.name-dishes
                                  %h4= count[:name]
                                  -# %p 10 min
                                .list
                                  %dl
                                    %dt Cantidad de platos
                                    %dd #{count[:products]}
                                    .div.observations
                                      %p Observaciones:
                                      .tags
                                        %span.tag.listo Queso
                                        %span.tag.listo Vegetales
                                        %span.tag.listo Amor
                          .list-bottom

            -# .grid-order{ style: "position: fixed;"}
            -#   .order-wrapper
            -#     .order-header
            -#       %h4 Realizados
            -#       %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
            -#     .order-content.order-content--fixed.d-flex.flex-wrap
            -#       - counts =[{name: 'Gladibeth Franco',products: '3', count: '30', product: "Cerveza", price: '30'}]
            -#       -counts.each_with_index do |count|
            -#         .card-content.card-counts.mb-4.card-chef
            -#           .order-card-counts.list-content
            -#             .description-user.d-flex.justify-content-between.list-header
            -#               %h4= count[:name]
            -#               %p Mesa 10
            -#             - counts =[{name: 'Pizza Margarita',products: '3', count: '30'}, {name: 'Hamburguesas',products: '1',count: '10'},{name: 'Hamburguesas',products: '1',count: '10'}, {name: 'Cafe',products: '1',count: '10'}]
            -#             .list-cards
            -#               -counts.each_with_index do |count|
            -#                 .list-card
            -#                   .description-user.d-flex.justify-content-between.name-dishes
            -#                     %h4= count[:name]
            -#                     -# %p 10 min
            -#                   .list
            -#                     %dl
            -#                       %dt Cantidad de platos
            -#                       %dd #{count[:products]}
            -#                       .div.observations
            -#                         %p Observaciones:
            -#                         .tags
            -#                           %span.tag Queso
            -#                           %span.tag Vegetales
            -#                           %span.tag Amor
            -#               .list-bottom
                            

            -# .grid-order
            -#   - (10).times do |index|
            -#     .order-wrapper.tab-content{ id: "space_one-#{index}"}
            -#       .order-header
            -#         %h4 Mesa número #{index+ 1}
            -#         %i.icofont-close.icon_custom.icon--medium.close-order.d-lg-none
            -#       .order-content.order-content--fixed.d-flex
            -#         - counts =[{name: 'Gladibeth Franco',products: '3', count: '30'}, {name: 'Anaritza Lopez',products: '1',count: '10'}]
            -#         .order-counts
            -#           -counts.each_with_index do |count|
            -#             .card-content.card-counts.mb-4
            -#               .order-card-counts
            -#                 .description-user.d-flex.justify-content-between
            -#                   %h4= count[:name]
            -#                   %p 10 min
            -#                 .list
            -#                   %dl
            -#                     %dt Productos
            -#                     %dd #{count[:products]}
            -#                     %dt Cuenta total
            -#                     %dd $#{count[:count]}
            -#       .order-footer.sticky-footer
            -#         %button.btn.btn_custom.btn--medium.btn--filled{'data-target': "#create_counts", 'data-toggle': 'modal', 'data-backdrop': 'static', 'data-keyboard': false }
            -#           %i.icofont-plus
            -#           Agregar cuenta
    .btn-float.d-lg-none.d-block
      %button.btn.btn_custom.btn--filled.btn-sidebar
        %i.icofont-plus