.container
  .row
    .col-lg-2
      = link_to admin_periods_periods_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('keppler.models.singularize.period').humanize
            .box-tools.pull-right
              - if can?(model).update?
                = link_to edit_admin_periods_period_path(@period), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                  %i.icon-pencil
              - if can?(model).destroy?
                = link_to admin_periods_period_path(@period), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                  %i.icon-trash

          .box-body.no-padding
            %table.table
              %tbody
                - @period.as_json(except: %w[position deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}")
                    %td.display-value.fs-body-1.tc-black-2
                      - if @attachments.dig('images', 'names').include?(attribute)
                        = image_tag value.url if value.url
                      - elsif @attachments.dig('images', 'names').map(&:pluralize).include?(attribute)
                        - value.each do |image|
                          = image_tag image.url if image.url
                      - else
                        = sanitize raw value
                %tr.list-row
                  %th.display-label Total Facturado
                  %td.display-value.fs-body-1.tc-black-2= number_to_currency(@period.total) || 'Bsf. 0,00'
  .show-section
    .box.box-solid
      .box-header.with-border
        %h3.box-title Cuentas
      / /.box-header
      .box-body
        #accordion.box-group
          - @period.accounts.each do |account|
            .panel.box
              .box-header.with-border
                %h4.box-title{ style:"width: 100%;"}
                  %a.collapsed{"aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{account.id}"}
                    .d-flex{ style: "display: flex;justify-content: space-between;"}
                      .float-left
                        %strong Cliente:
                        = account.client.name
                      .float-right.badge.keppler-badge
                        = number_to_currency(account.total)

                    .float-right
                      %strong Mesa:
                      = account.table.id.capitalize
                    .float-right
                      %strong Mesero:
                      = account.waiter.name

              .panel-collapse.collapse{"aria-expanded" => "false", :style => "height: 0px;", id: account.id}
                .box-body
                  - account.orders.each_with_index do |order, index|
                    - unless order.dishes.blank?
                      .box
                        .box-header.with-border
                          %h3.box-title Orden ##{index + 1}
                        / /.box-header
                        .box-body
                          %table.table.table-bordered
                            %tbody
                              %tr
                                %th{:style => "width: 10px"} #
                                %th{:style => "width: 45px"} Plato
                                %th{:style => "width: 45px"} Cantidad

                              - order.dishes.each_with_index do |dish, index|
                                %tr
                                  %td=  index + 1
                                  %td= dish.dish.name
                                  %td= dish.quantity

                        .box-footer.clearfix
                          %strong Total:
                          .badge.keppler-badge= number_to_currency(order.total) || 'Bsf. 0,00'

:scss
  a:active, a:focus  {
    color: #000;
  }
