.container
  .row
    .col-lg-2
      = link_to admin_periods_periods_path, 'data-position': 'bottom', 'data-tooltip': t('keppler.actions.back') do
        .arrow-back.btn.btn-default
          %i.icon-arrow-left
          = t('keppler.actions.back')
  .show-section
    .row
      .col-lg-12
        .box.slice-box.p-15
          .box-header.with-border
            %h3.box-title= t('keppler.models.singularize.period').humanize
            .box-tools.pull-right
              - if can?(model).update?
                = link_to edit_admin_periods_period_path(@period), class: 'btn btn-box-tool', title: t('keppler.actions.edit') do
                  %i.icon-pencil
              - if can?(model).destroy?
                = link_to admin_periods_period_path(@period), class: 'btn btn-box-tool', title: t('keppler.actions.delete'), method: :delete, data: { confirm: t('keppler.messages.data_confirm') } do
                  %i.icon-trash

          .box-body.no-padding
            %table.table
              %tbody
                - @period.as_json(except: %w[position deleted_at]).each do |attribute, value|
                  %tr.list-row
                    %th.display-label= t("activerecord.attributes.#{attribute}")
                    %td.display-value.fs-body-1.tc-black-2
                      - if @attachments.dig('images', 'names').include?(attribute)
                        = image_tag value.url if value.url
                      - elsif @attachments.dig('images', 'names').map(&:pluralize).include?(attribute)
                        - value.each do |image|
                          = image_tag image.url if image.url
                      - else
                        = sanitize raw value
                %tr.list-row
                  %th.display-label Total Facturado
                  %td.display-value.fs-body-1.tc-black-2= number_to_currency(@period.total) || 'Bsf. 0,00'
  .show-section
    #index-container{ controller: 'orders' }
      .container
        .row
          .listing.col-lg-12.col-xs-12
            %section.content-header.index-header
              %h1
                Ordenes del día
              -# = entries(@total, @objects)
            %section.content-actions
              .toolbar
                .toolbar-item

              -#   - if can?(model).download?
              -#     %li.toolbar-item.dropdown
              -#       %a.dropdown-toggle{ 'data-toggle': 'dropdown', href: '#', title: t('keppler.actions.download_records') }
              -#         %i.icon-cloud-download
              -#       %ul.dropdown-menu
              -#         %li= link_to t('keppler.actions.download.csv'), admin_orders_orders_path(format: :csv), class: 'tool-btn'
              -#         %li= link_to t('keppler.actions.download.xls'), admin_orders_orders_path(format: :xls), class: 'tool-btn'
              -#   - if can?(model).upload?
              -#     .toolbar-item
              -#       = link_to '#', class: 'tool-btn', title: t('keppler.actions.upload_records'), id: 'upload' do
              -#         %i.icon-cloud-upload
              -#   .toolbar-item
              -#     %a.tool-btn{ 'data-confirm': t('keppler.messages.data_confirm'), 'data-method': 'delete', 'v-bind:href': 'link', rel: 'nofollow', ':class': '{disabled: !checks}' }
              -#       %i.icon-trash
              -# - if can?(model).create?
              -#   .add
              -#     = link_to new_admin_orders_order_path, class: 'btn-add' do
              -#       +
              -#       = t('keppler.actions.add')
              -# .hide
              -#   = form_tag admin_orders_order_upload_path(@objects), id: 'upload-form', multipart: true, method: :post do
              -#     = file_field_tag :file, id: 'upload-file'

            .box.slice-box
              .box-body.no-padding
                %table.table
                  %thead
                    - if @period.orders.size.zero?
                      %tr
                        %th.not-records.center
                          %h6= t('keppler.messages.not_found_records', model: t('keppler.models.pluralize.orders'))

                    - else
                      %tr
                        %th
                          - if can?(model).destroy_multiple?
                            .item-check
                              .checkbox
                                %label{ for: 'checkbox-all' }
                                  %input{ type: 'checkbox', id: 'checkbox-all', '@click': 'selectAll()' }
                                  %span.cr
                                    %i.cr-icon.glyphicon.glyphicon-ok

                        %th
                          = sort_link(@q, :client_id) do
                            CLiente
                        %th
                          = sort_link(@q, :waiter_id) do
                            Mesero
                        %th
                          = sort_link(@q, :table_id) do
                            Mesa
                        %th
                          Cantidad de platos
                        %th
                          Total
                        %th
                          Estado
                        %th

                  %tbody.objects-container
                    = render 'admin/layouts/listing_preloader'
                    = render 'listing_orders', objects: @period.orders

            %center.paginator-module
              -# = paginate @period.orders, window: 1

      .listing-show
        = render 'description', activities: @activities
